<!DOCTYPE html>
<html>

<head>
    <title>My Plate - Celery & Wings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href=" https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <link rel="stylesheet" href="css/plate.css">
</head>

<body>
    <section class="h-100" style="background-color: #eee;">
        <div class="container h-100 py-5">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
                        <div>
                            <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"
                                    class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                        </div>
                    </div>
                    <%for(var i=0; i<cart.length; i++){ %>
                        <div class="card rounded-3 mb-4">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src="<%=cart[i].docs.itemurl%>" class="img-fluid rounded-3" alt="">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <%if(cart[i].docs.itemType=="veg" ){%>
                                            <img src="https://img.icons8.com/color/344/vegetarian-food-symbol.png"
                                                alt="" height="40">
                                            <%}else{%>
                                                <img src="https://img.icons8.com/color/344/non-vegetarian-food-symbol.png"
                                                    alt="" height="40">
                                                <%}%>
                                                    <p class="lead fw-normal mb-2">
                                                        <%=cart[i].docs.itemName%>
                                                    </p>

                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                        <form action="/qtyminus/<%=cart[i]._id%>" method="post">
                                            <input value="<%=cart[i].qty%>" type="text" readonly style="display: none;"
                                                name="invQty">
                                            <button class="btn btn-link px-2" type="submit">
                                                <i class="fas fa-minus" style="color: red;"></i>
                                            </button>
                                        </form>

                                        <input id="form1" min="0" name="quantity" value="<%=cart[i].qty%>" type="number"
                                            class="form-control form-control-sm" readonly>

                                        <form action="/qtyplus/<%=cart[i]._id%>" method="post">
                                            <input value="<%=cart[i].qty%>" type="text" readonly style="display: none;"
                                                name="invQty">
                                            <button class="btn btn-link px-2" type="submit">
                                                <i class="fas fa-plus" style="color: green;"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h5 class="mb-0">₹ <%=cart[i].docs.itemPrice * cart[i].qty%>
                                        </h5>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                        <form action="/cartremove/<%=cart[i]._id%>" method="post">

                                            <button class="btn btn-danger px-2">
                                                <i class="fas fa-trash fa-lg"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                        <form action="/placeorder" method="post">
                            <div class="card">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-outline-primary btn-block btn-lg">Order
                                        Now</button>
                                </div>
                            </div>
                        </form>

                </div>
            </div>
        </div>
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>